extends layout

mixin link(href, name)
  a(class!=attributes.class href=href)= name

block content
    h1= title
    p
        +link('/loans/new_loan', 'Create New Loan')(class='button')
    p Filters&nbsp;
        +link('/loans', 'All')
        .
            &nbsp;|&nbsp;
        +link('/loans/overdue_loans', 'Overdue')
        .
            &nbsp;|&nbsp;
        +link('/loans/checked_loans', 'Checked Out')
    table
        thead
            tr
                each val in ['Book', 'Patron', 'Loaned on', 'Return by', 'Returned on', 'Action']
                    th= val
        tbody
            each loan in loans
                tr
                    td
                        +link('/books/book_detail/' + loan.Book.id, loan.Book.title)
                    td
                        +link('patron_detail', loan.Patron.first_name + " " + loan.Patron.last_name)
                    td=loan.formatDate(loan.loaned_on)
                    td=loan.formatDate(loan.return_by)
                    if loan.returned_on
                        td=loan.formatDate(loan.returned_on)
                        td
                    else
                        td
                        td
                            +link('return_book', 'Return Book')(class='button')
                            