extends layout

block content
	h1= title
	p
		a(href='new_book.html' class='button') Create New Book
	p Filters&nbsp;
		a(href='/books/all_books') All
		.
			&nbsp;|&nbsp;
		a(href='/books/overdue_books') Overdue
		.
			&nbsp;|&nbsp;
		a(href='/books/checked_books') Checked Out
	table
		thead
			tr
				each val in ['Title', 'Author', 'Genre', 'Year Released']
					th= val
		tbody
			tr
				td
					mixin link(href, name)
						a(href=href)= name

					+link('book_detail.html', 'Harry Potter and the Philosopher\'s Stone')

				each val in ['J.K. Rowling', 'Fantasy', '1997']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Chamber of Secrets')
					
				each val in ['J.K. Rowling', 'Fantasy', '1998']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Prisoner of Azkaban')
					
				each val in ['J.K. Rowling', 'Fantasy', '1999']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Goblet of Fire')
					
				each val in ['J.K. Rowling', 'Fantasy', '2000']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Order of the Phoenix')
					
				each val in ['J.K. Rowling', 'Fantasy', '2003']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Half-Blood Prince')
					
				each val in ['J.K. Rowling', 'Fantasy', '2005']
					td=val
			tr
				td
					+link('book_detail.html', 'Harry Potter and the Deathly Hallows')
					
				each val in ['J.K. Rowling', 'Fantasy', '2007']
					td=val
			tr
				td
					+link('book_detail.html', 'A Brief History of Time')
					
				each val in ['Stephen Hawking', 'Non Fiction', '1988']
					td=val
			tr
				td
					+link('book_detail.html', 'The Universe in a Nutshell')
					
				each val in ['Stephen Hawking', 'Non Fiction', '2001']
					td=val
			tr
				td
					+link('book_detail.html', 'Frankenstein')
					
				each val in ['Mary Shelley', 'Horror', '1818']
					td=val
			tr
				td
					+link('book_detail.html', 'The Martian')
					
				each val in ['Andy Weir', 'Science Fiction', '2014']
					td=val
			tr
				td
					+link('book_detail.html', 'Ready Player One')
					
				each val in ['Ernest Cline', 'Science Fiction', '2011']
					td=val
			tr
				td
					+link('book_detail.html', 'Armada')
					
				each val in ['Ernest Cline', 'Science Fiction', '2015']
					td=val
			tr
				td
					+link('book_detail.html', 'Pride and Prejudice')
					
				each val in ['Jane Austen', 'Classic', '1813']
					td=val
			tr
				td
					+link('book_detail.html', 'Emma')
					
				each val in ['Jane Austen', 'Classic', '1815']
					td=val


















