extends layout

mixin link(href, name)
	a(class!=attributes.class href=href)= name

block content
	h1 Checked Out Books
	p 
		+link('new_book', 'Create New Book')(class='button')
	p Filters&nbsp;
		+link('all_books', 'All')
		.
			&nbsp;|&nbsp;
		+link('overdue_books', 'Overdue')
		.
			&nbsp;|&nbsp;
		+link('checked_books', 'Checked Out')
	table
		thead
			tr
				each val in ['Title', 'Author', 'Genre', 'Year Released']
					th= val
		tbody
			tr
				td
					+link('book_detail', 'Emma')
				each val in ['Jane Austen', 'Classic', '1815']
					td=val
			tr
				td
					+link('book_detail', 'Harry Potter and the Goblet of Fire')
				each val in ['J.K. Rowling', 'Fantasy', '2000']
					td=val
			tr
				td
					+link('book_detail', 'A Brief History of Time')
				each val in ['Stephen Hawking', 'Non Fiction', '1988']
					td=val
			tr
				td
					+link('book_detail', 'The Universe in a Nutshell')
				each val in ['Stephen Hawking', 'Non Fiction', '2001']
					td=val

