extends layout

mixin label(formElement, name)
	label(for=formElement)= name

mixin input(name, type, value)
	input(name=name type=type value=value)

block content
	h1= title
	form(action='/books', method='post')
		p
			+label('title', 'Title')
			+input('title', 'text', book.title)
		p
			+label('author', 'Author')
			+input('author', 'text', book.author)
		p
			+label('genre', 'Genre')
			+input('genre', 'text', book.genre)
		p
			+label('first_published', 'First Published')
			+input('first_published', 'text', book.first_published)
		p
			+input('', 'submit', 'Create New Book')