extends layout

mixin label(formElement, name)
	label(for=formElement)= name

mixin input(name, type, value)
	input(name=name type=type value=value)

block content
	h1 Patron: Return Book
	include error
	p
		strong Book Title:&nbsp;
		.
			#{book.title}
	p
		strong Loaned By:&nbsp;
		.
			#{loan.Patron.first_name + " " + loan.Patron.last_name}
	p
		strong Loaned On:&nbsp;
		.
			#{loan.formatDate(loan.loaned_on)}
	p
		strong Return By:&nbsp;
		.
			#{loan.formatDate(loan.return_by)}
	form(action='/loans/' + loan.id + '?_method=PUT', method='post')
		p
			+label('returned_on', 'Returned on:')
			+input('returned_on', 'text', returned_on)
		p
			+input('', 'submit', 'Return Book')
